
<div class="row" id="shipListRow">

</div>
<div class="row" id="navigationRow">

</div>
<div class="row" id="targetingRow">

</div>



<script type="text/javascript">
  $(function () {
  	SitsApp.initialize({ ships: <%= @ships.to_json %> });
  	// SitsApp.initialize({});
  });
</script>
