<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title"><%= model.escape('name') %></h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="well well-sm">
				<ul class="list-inline">
					<li>Pivot: <%= model.escape('pivot') %></li>
					<li>Roll: <%= model.escape('roll') %></li>
					<li>Notes: <%= model.escape('notes') %></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Start: <div id="verify-start-integrity"></div></th>
						<th></th>
						<th>Midpoint: <div id="verify-mid-integrity"></div></th>
						<th></th>
						<th>Endpoint: <div id="verify-end-integrity"></div></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Front:</td>
						<td>
							<div id="input-start-front">
								<!-- Start Front input -->
							</div>
						</td>
						<td>
							<div id="verify-start-mid-front">
								<!-- Start Front to Midpoint Front verifier -->
							</div>
						</td>
						<td>
							<div id="input-mid-front">
								<!-- Midpoint Front input -->
							</div>
						</td>
						<td>
							<div id="verify-mid-end-front">
								<!-- Midpoint Front to Endpoint Front verifier -->
							</div>
						</td>
						<td>
							<div id="input-end-front">
								<!-- Endpoint Front input -->
							</div>
						</td>
						<td>
							<div id="verify-start-end-front">
								<!-- Start Front to Endpoint Front verifier -->
							</div>
						</td>
					</tr>
					<tr>
						<td>Top:</td>
						<td>
							<div id="input-start-top">
								<!-- Start Top input -->
							</div>
						</td>
						<td>
							<div id="verify-start-mid-top">
								<!-- Start Top to Midpoint Top verifier -->
							</div>
						</td>
						<td>
							<div id="input-mid-top">
								<!-- Midpoint Top input -->
							</div>
						</td>
						<td>
							<div id="verify-mid-end-top">
								<!-- Midpoint Top to Endpoint Top verifier -->
							</div>
						</td>
						<td>
							<div id="input-end-top">
								<!-- Endpoint Top input -->
							</div>
						</td>
						<td>
							<div id="verify-start-end-top">
								<!-- Start Top to Endpoint Top verifier -->
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-9">
				<!-- Next Turn button goes here -->
				<button class="btn btn-primary" type="button">Next Turn</button>
			</div>
		</div>
	</div>
</div>