<button class="btn btn-primary" data-toggle="modal" data-target="#editModalNew">New<span class="sr-only">New Ship</span></button>
<div class="modal fade" id="editModalNew" tabindex="-1" role="dialog" aria-labelledby="editModalNewLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="editModalNewLabel">Edit Ship</h4>
			</div><!-- /.modal-header -->
			<div class="modal-body">
				
			</div><!-- /.modal-body -->
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
			</div><!-- /.modal-footer -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->