<button type="button" class="btn btn-default"><%= model.escape('name') %></button>
<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
<ul class="dropdown-menu" role="menu">
	<li><a href="#" role="menuitem">Edit</a></li>
	<li><a href="#" role="menuitem">Delete</a></li>
</ul>