<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Targets <button class="btn btn-primary new-target" id="new-target">New Target</button></h3>
		
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Distance</th>
				<th>Bearing</th>
				<th>Aspect</th>
				<th>Range</th>
				<th>Delete Target</th>
			</tr>
		</thead>
		<tbody id="target-list">

		</tbody>
	</table>
</div>